# Virtual Environment
.venv/
venv/

# Python Bytecode
*.pyc
__pycache__/
*$py.class
*.py[co]

# Database Files
*.sqlite3

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# JSON Data Files (Ignore all JSON files if that's the intention)
data*.json
*.json

# You can specify additional data files if necessary
# Or comment lines that you don't need